<div id="TimeSeriesSeasonal">
  <div id="seasonal-print-section">
    <div style="display: inline">
      <h5 style="position: relative; left: 75px"><b>Seasonal Data (<span style="color: red">Mean</span> | <span style="color: blue">Standard Deviation</span>)</b></h5>
      <button mat-button [matMenuTriggerFor]="menu" style="position: absolute; top: 0; background-color: #ffffff;">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          class="buttonColor"
          mat-menu-item
          [useExistingCss]="true"
          printSectionId="seasonal-print-section"
          ngxPrint
        >
          Save Table
        </button>
        <button class="buttonColor" mat-menu-item (click)="closeSeasonalMenu('ClimaGraph')">
          Climatology Graph
        </button>
        <button class="buttonColor" mat-menu-item (click)="closeSeasonalMenu('SeasonalTS')">
          Seasonal Time Series
        </button>
      </mat-menu>
      <div class="col s12">
        <button
          mat-icon-button
          (click)="this.closeSeasonalMenu('')"
          class="closeBtn"
          matTooltip="Close Seasonal Chart"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <table mat-table [dataSource]="this.dataSource">
      <ng-container matColumnDef="label" sticky="true">
        <td mat-cell *matCellDef="let row">{{ row.label }}</td>
      </ng-container>

      <ng-container [matColumnDef]="'column' + i" *ngFor="let column of data; let i = index">
        <td mat-cell *matCellDef="let row; let j = index">
          <div *ngIf="j !== 0"><span style="color: red;">{{ row["column" + i].mean }}</span> | <span style="color: blue">{{ row["column" + i].std }}</span></div>
          <div *ngIf="j === 0">{{ row["column" + i] }}</div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
