.column-left{ float: left; width:50% }
.column-right{ float: right; width:50% }

/* Modal Header */
.modal-header {
  max-height: 80px;
  padding: 2px 5px;
  background-color: #C1C8E4;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;

}


/* Modal Content */
.modal-content {
  text-justify: inter-word;
  max-height:500px;
  overflow: scroll;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -50px; opacity: 0}
  to {top: 0; opacity: 1}
}
