<div id="About4dvd">
  <h2 mat-dialog-title>About 4DVD</h2>
  <mat-dialog-content>
    <div style="text-align: center; margin-bottom: 15px">
      <h5><u>New to 4DVD?</u></h5>
      <button
        class="buttonColor"
        mat-raised-button
        (click)="openTutorialDialog()"
      >
        Check out the 4DVD tutorials here!
      </button>
    </div>
    <mat-divider></mat-divider>
    <p>
      Everyone talks about global warming or climate change, but few have seen
      the climate data, because accessing climate data can be a technically
      challenging task. This 4-Dimensional Visual Delivery of Big Climate Data
      (4DVD) enables anyone to access climate data immediately as long as the
      person can navigate a website.
    </p>

    <p>
      4DVD is a unique software developed at the Climate Informatics Lab, San
      Diego State University, for the instant delivery of big climate data to
      classrooms and households around the world in a convenient and visual way.
      It works like an Amazon audio book shopping experience. In fact, the 4DVD
      technology is currently partnering with Amazon and uses Amazon cloud
      server to store and deliver the climate data.
    </p>

    <p>
      4DVD makes the climate data acquisition in the same way as one shops on
      Amazon for digital products, such as digital books or movies. Therefore,
      the 4DVD technology can deliver the climate data instantly to classrooms,
      museums, and households.
    </p>

    <p>
      Downloading the massive amount of data, making analysis on them, or
      requesting a server to produce a figure are among the conventional
      practices of data acquisition in the climate research community. This
      passive approach is slow and requires climate expertise or professional
      data analysis training. The powerful 4DVD technology has changed this and
      enabled an active data acquisition in both visual and digital forms, as if
      the data are delivered to the user. While DVD plays movies and music, 4DVD
      (<a href="http://www.4dvd.org">www.4dvd.org</a>) is a website technology
      that plays big data. Any person who can shop on Amazon can acquire climate
      data from 4DVD.
    </p>

    <p>
      This convenient climate data technology is achieved because the 4DVD big
      data technology optimizes the resources from database, data server, and
      the computer browser of a client. A client does not need to download an
      entire dataset (such as 5 gigabytes data from a climate modeling output)
      to make analysis of a desired case. Instead, users run the 4DVD code on
      their own computer browsers to visually obtain the desired data from the
      optimal routes of database and data server, then can instantly see the
      data as a figure, a spatial climate map or a historical climate time
      series, and quickly determine whether this is the desired climate scenario
      of interest. Eventually, the user can choose to download the digital data
      for further analysis or figure re-plotting.
    </p>

    <p>
      The original database idea for the 4DVD was from Dr. Julien Pierret around
      2010. He began developing the 4DVD technology as part of his PhD research
      during 2012-2018, directed by Samuel Shen, Distinguished Professor of
      Mathematics and Statistics, San Diego State University. Shen also
      developed the framework of the climate data delivery system and coined the
      term “4DVD” around 2012, when the 4DVD development formally began. The
      beta-version was available in 2016 for demonstrations. The first public
      demonstration was made at the NOAA National Environmental Information,
      Asheville, North Carolina, in March 2016. A paper on the 4DVD technology
      was first published in 2017 (Pierret and Shen 2017). Since then, many
      students, researchers, and technical personnel have been contributing to
      the further development of 4DVD, under the leadership of Drs. Pierret and
      Shen.
    </p>

    <p>
      Users are granted a non-exclusive, royalty-free license to use 4DVD on
      this website and any data obtained from using 4DVD.
    </p>

    <p>
      The software and source code for 4DVD is at
      <a href="https://github.com/dafrenchyman/4dvd"
        >https://github.com/dafrenchyman/4dvd</a
      >, and is available for download under the GNU General Public License open
      source license. All applicable restrictions, disclaimers of warranties,
      and limitations of liability in the GNU General Public License also apply
      to uses of 4DVD on this website. To license 4DVD without the restrictions
      of the GNU General Public License, such as for commercial uses, please
      contact the San Diego State University Technology Transfer Office via
      <a href="mailto:tto@sdsu.edu">tto@sdsu.edu</a>; copy Kyle Welch, Licensing
      Manager, at <a href="mailto:kwelch@sdsu.edu">kwelch@sdsu.edu</a>.
    </p>
    <p>
      <i
        >SDSU Research Foundation <br />
        Gateway Center <br />
        5250 Campanile Drive <br />
        San Diego, CA 92182 <br />
        Tel: 619-594-1900</i
      >
    </p>

    <p>The standard academic citation for this work is:</p>
    <p>
      Pierret, J., and S.S.P. Shen, 2017: 4D visual delivery of big climate
      data: A fast web database application system.<i>
        Advances in Data Science and Adaptive Analysis</i
      >, <b>9</b>, DOI: 10.1142/S2424922X17500061.
    </p>
    <p>The data sources and their references are as follows:</p>

    <ol type="1">
      <li>
        The information about the NOAA-CIRES 20th Century Reanalysis (20CR)
        (V2c) data can be found from the NOAA Physical Science laboratory
        website
        <a href="https://psl.noaa.gov/data/gridded/data.20thC_ReanV2c.html">
          https://psl.noaa.gov/data/gridded/data.20thC_ReanV2c.html</a
        >
        <p>
          Compo,G.P., J.S. Whitaker, and P.D. Sardeshmukh, 2006: Feasibility of
          a 100 year reanalysis using only surface pressure data. Bull. Amer.
          Met. Soc., 87, 175-190, doi:10.1175/BAMS-87-2-175.
        </p>
        <p>
          Compo, G.P., J.S. Whitaker, P.D. Sardeshmukh, N. Matsui, R.J. Allan,
          X. Yin, B.E. Gleason, R.S. Vose, G. Rutledge, P. Bessemoulin, S.
          Brönnimann, M. Brunet, R.I. Crouthamel, A.N. Grant, P.Y. Groisman,
          P.D. Jones, M. Kruk, A.C. Kruger, G.J. Marshall, M. Maugeri, H.Y. Mok,
          Ø. Nordli, T.F. Ross, R.M. Trigo, X.L. Wang, S.D. Woodruff, and S.J.
          Worley, 2011: The Twentieth Century Reanalysis Project. Quarterly J.
          Roy. Meteorol. Soc., 137, 1-28.
          <a href="http://dx.doi.org/10.1002/qj.776"
            >http://dx.doi.org/10.1002/qj.776</a
          >
        </p>
      </li>
      <li>
        The information about the NASA Global Precipitation Climatology Project
        (GPCP) (V2.3) data can be found from the NOAA Physical Science
        laboratory website
        <a href="https://psl.noaa.gov/data/gridded/data.gpcp.html"
          >https://psl.noaa.gov/data/gridded/data.gpcp.html</a
        >

        <p>
          Adler et al., 2016. An Update (Version 2.3) of the GPCP Monthly
          Analysis. Huffman, G.J., R.F. Adler, P. Arkin, A. Chang, R. Ferraro,
          A. Gruber, J. Janowiak, A. McNab, B. Rudolf, U. Schneider, 1997: The
          Global Precipitation Climatology Project (GPCP) Combined Precipitation
          Dataset. Bull. Amer. Meteor. Soc., 78(1), 5-20.
        </p>
        <p>
          Huffman, G. J., R. F. Adler, D. T. Bolvin, and G. Gu (2009): Improving
          the global precipitation record: GPCP Version 2.1, Geophys. Res.
          Lett., 36, L17808, doi:10.1029/2009GL040000 Schneider, Udo; Becker,
          Andreas; Finger, Peter; Meyer-Christoffer, Anja; Rudolf, Bruno; Ziese,
          Markus (2015a): GPCC Full Data Reanalysis Version 7.0 at 0.5°: Monthly
          Land-Surface Precipitation from Rain-Gauges built on GTS-based and
          Historic Data. DOI: 10.5676/DWD_GPCC/FD_M_V7_050.
        </p>
      </li>
    </ol>

    <p>
      <b> Disclaimer: </b>This program is distributed in the hope that it will
      be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    </p>

    <p>
      When downloading the 4DVD software, one should have received a copy of the
      GNU General Public License along with this program; if not, write to the
      Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
      02111-1307 USA
    </p>
    <p>
      This project was generated with
      <a href="https://github.com/angular/angular-cli">Angular CLI</a>
      version 1.0.1.
    </p>
    <p>
      One can redistribute it and/or modify 4DVD under the terms of the GNU
      General Public License v3 as published by the Free Software Foundation. If
      not stated otherwise, this applies to all files contained in the 4DVD
      package and its sub-directories (with the exception of the "node_modules"
      folder; the libraries used as part of the 4DVD may involve different
      licenses.)
    </p>
  </mat-dialog-content>
</div>
