.OptionsButton
{
  margin-top: 15px;
  float: right;
  font-size: 18px;
  margin-right: 24px;
  min-width: 0;
  padding: 0;
  line-height: normal;
  white-space: pre;
  cursor: pointer;
}

.AboutButton {
  margin-top: 10px;
  float: right;
  font-size: 18px;
  
  white-space: pre;
  color: #fff;
}
  
.DataDownload {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  display: inline-block;
  white-space: pre;
  color: #fff;
}
.Dataset {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  display: inline-block;
  white-space: pre;
  color: #fff;
}
.Top_Dataset {
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 18px;
   display: inline-block;
   white-space: pre;
   color: #fff;
}

@media only screen and (min-width: 359px) {
  .row-blue-white-text{
    height: 150px;
  }

  .OptionsButton {
    height: 125px;
  }

  .AboutButton {
    width: 93.3vw;
  }
  .DataDownload {
    width: 93.3vw;
  }
  .Dataset {
    width: 93.3vw;
  }
  .Top_Dataset {
    width: 93.3vw;
  }
}

@media only screen and (min-width: 599px) {
  .row-blue-white-text
  {
    height: 100px;
  }

  .OptionsButton
  {
    height: 85px;
  }

  .AboutButton {
    width: 95vw;
  }
  .DataDownload {
    width: 95vw;
  }
  .Dataset {
    width: 95vw;
  }
  .Top_Dataset {
    width: 95vw;
  }
}

@media only screen and (min-width: 809px) {
  .row-blue-white-text
  {
    height: 75px;
  }

  .OptionsButton
  {
    height: 60px;
  }

  .AboutButton {
    width: 96.8vw;
  }
  .DataDownload {
    width: 96.8vw;
  }
  .Dataset {
    width: 96.8vw;
  }
  .Top_Dataset {
    width: 96.8vw;
  }
}

@media only screen and (min-width: 1292px) {
  .row-blue-white-text
  {
    height: 55px; 
  }

  .OptionsButton
  {
    height: 39px;
  }

  .AboutButton {
    width: 97.8vw;
  }
  .DataDownload {
    width: 97.8vw;
  }
  .Dataset {
    width: 97.8vw;
  }
  .Top_Dataset {
    width: 97.8vw;
  }
}

button:focus {
  background-color: #2196f3;
}

::ng-deep button .mat-menu-item {
  background-color: #2196f3;
  color: #fff;
  font-size: 18px;
  box-shadow: none !important;
}

button.mat-menu-item:hover {
  background-color: #2196f3;
  color: #fff !important;
  box-shadow: none !important;
}
::ng-deep.mat-menu-panel {
  background-color: #2196f3;
  box-shadow: none !important;
  max-width: none !important;
}
