<head>
  <!--Import Google Icon Font-->
  <!--link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
</head>


<div #TabMenuRow id="tabMenuRow" class="row" style="height:100vh; margin-bottom: 0px; overflow:hidden; z-index: 0">
  <div #TabMenu class="row blue white-text" id="TabMenu" style="margin-bottom: 0px; z-index: 10; height: 50px">
    <img src="../assets/4DVDLogoV1.png" alt="4DVD Logo" onClick="window.location.href=window.location.href" style="height: 45px; width: 45px; position: absolute; left: 10px; top: 3px">
    <div class="col blue white-text" style="margin-left: 50px"><h5>{{title}}</h5></div>
    <div id="" class="scol s11">

    </div>
  </div>

  <!--div #ClimateSystem id="ClimateSystem" style="width:100%; overflow:hidden; z-index: 2; margin-bottom: 0px;" class="row">
    <div #WebglCanvas style="display:block; position:absolute;  overflow:hidden" id="WebglCanvas" >
      <div #Menu id="Menu" class="col s2 z-depth-3"
           style="background-color: white; position: relative; padding-left: 5px; overflow:auto; z-index: 5;">
        <app-menu></app-menu>
      </div>
      <canvas #ClimateGl id="ClimateGl" class="col s10" style="position: absolute; z-index: 5; margin-bottom: 0px;"><!-- width="500" height="500" || style="width: 100%; height: 100%" || [attr.width]='_width' [attr.height]='_height'-->
      <!--/canvas>
    </div>
  </div-->


  <climate-view>Loading Climate...</climate-view>

</div>
