mat-dialog-container {
  background-color: #031634;
  color: #cdb380;
}
#ColorMapMenu {
  color: #cdb380;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
}
#ColorMapMenu mat-dialog-container {
  background-color: #031634;
  color: #cdb380;
}
