<mat-drawer-container
  style="width: 130vh; margin-bottom: 0px; overflow: hidden; z-index: 0"
>
  <div class="title_text" class="col s12">
    <div style="display: inline; float: left">
      <button mat-button [matMenuTriggerFor]="menu" align="left">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div style="display: inline; float: right">
      <button
        mat-icon-button
        (click)="this.closeHistogram('')"
        class="closeBtn"
        matTooltip="Close Histogram Chart"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [useExistingCss]="true"
      printSectionId="print-section-hist"
      ngxPrint
    >
      Save Graph
    </button>
    <button
      class="buttonColor"
      mat-menu-item
      (click)="this.closeHistogram('StatSumm')"
    >
      Statistical Summary
    </button>
    <button
      class="buttonColor"
      mat-menu-item
      (click)="this.closeHistogram('LinearTrend')"
    >
      Linear Trend
    </button>
  </mat-menu>

  <div id="print-section-hist">
    <div id="hist_div"></div>
  </div>
  <mat-drawer class="lt-sidenav" mode="side" opened="true">
    <mat-list>
      <p>Select</p>
      <mat-select placeholder="Month" [(value)]="currMonth">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.viewValue }}
        </mat-option>
      </mat-select>
      <mat-select
        *ngIf="DataAvailable()"
        placeholder="Levels"
        [(value)]="currlevel"
      >
        <mat-option *ngFor="let level of GetLevels()" [value]="level.name">
          {{ level.name }}
        </mat-option>
      </mat-select>
      <button
        id="GetData"
        mat-raised-button
        (click)="UpdateLevel(currMonth, currlevel)"
      >
        Get Histogram
      </button>
      <mat-divider></mat-divider>
      <p>Select number of bins</p>
      <input
        type="number"
        min="10"
        max="150"
        step="10"
        value="40"
        id="nBin"
        (change)="UpdateHist($event)"
      />
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
