<mat-drawer-container
  class="lineartrend-container"
  style="width:150vh; margin-bottom: 0px; overflow:hidden; z-index: 0"
>
  <div class="title_text" class="col s12" align="right">
    <button
      mat-icon-button
      (click)="this.closeLinearTrend()"
      class="closeBtn"
      matTooltip="Close Linear Trend Chart"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-drawer class="lt-sidenav" mode="side" opened="true">
    <mat-list>
      <p>Select Month and Level</p>
      <mat-select placeholder="Month" [(value)]="currMonth">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.viewValue }}
        </mat-option>
      </mat-select>
      <mat-select
        *ngIf="DataAvailable()"
        placeholder="Levels"
        [(value)]="currlevel"
      >
        <mat-option *ngFor="let level of GetLevels()" [value]="level.name">
          {{ level.name }}
        </mat-option>
      </mat-select>
      <button
        id="GetData"
        mat-raised-button
        (click)="GetUpdatedData(currMonth, currlevel)"
      >
        Get Linear Trend
      </button>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div id="chart"></div>
  </div>
</mat-drawer-container>
