<mat-drawer-container
  class="lineartrend-container"
  style="width: 120vh; margin-bottom: 0px; overflow: hidden; z-index: 0"
>
  <div class="title_text" class="col s12">
    <div style="display: inline; float: right">
      <button
        mat-icon-button
        (click)="this.closeLinearTrend('')"
        class="closeBtn"
        matTooltip="Close Linear Trend Chart"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div style="display: inline; float: left">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [useExistingCss]="true"
      printSectionId="print-section-trend"
      ngxPrint
    >
      Save Graph
    </button>
    <button
      class="buttonColor"
      mat-menu-item
      (click)="this.closeLinearTrend('StatSumm')"
    >
      Statistical Summary
    </button>
    <button
      class="buttonColor"
      mat-menu-item
      (click)="this.closeLinearTrend('PlotHist')"
    >
      Plot Histogram
    </button>
  </mat-menu>

  <mat-drawer class="lt-sidenav" mode="side" opened="true">
    <mat-list>
      <p>Select Month and Level</p>
      <mat-select placeholder="Month" [(value)]="currMonth">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.viewValue }}
        </mat-option>
      </mat-select>
      <mat-select
        *ngIf="DataAvailable()"
        placeholder="Levels"
        [(value)]="currlevel"
      >
        <mat-option *ngFor="let level of GetLevels()" [value]="level.name">
          {{ level.name }}
        </mat-option>
      </mat-select>
      <button
        id="GetData"
        mat-raised-button
        (click)="GetUpdatedData(currMonth, currlevel)"
      >
        Get Linear Trend
      </button>
    </mat-list>
  </mat-drawer>

  <div id="print-section-trend">
    <div class="example-sidenav-content">
      <div id="chart"></div>
    </div>
  </div>
</mat-drawer-container>
