<div id="TimeseriesPlot">
  <div id="print-section">
    <div class="main">
      <div
        #TabMenu
        class="row"
        id="TabMenu"
        style="margin-bottom: 0px; z-index: 10"
      >
        <div
          id="QuickButtons"
          class="col s12"
          align="left"
          style="float: right; display: inline-block"
        >
          <div id="Menu_Title">
            <div id="Menu">
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <div id="Title">
              <h5>
                <b>
                  <span class="title">{{
                    this._model.settings.GenerateTitle(
                      this._model.settings.FullName
                    )
                  }}</span>
                  <span class="byline"
                    >&nbsp;(Lat: {{ this._model.settings.GetLatWithDir() }},
                    Lon: {{ this._model.settings.GetLonWithDir() }})</span
                  >
                </b>
              </h5>
            </div>
          </div>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              [useExistingCss]="true"
              printSectionId="print-section"
              ngxPrint
            >
              Save Graph
            </button>
            <button mat-menu-item (click)="createCsvFromTimeseriesData()">
              Download Data
            </button>
            <button mat-menu-item [matMenuTriggerFor]="submenu">
              Computing
            </button>
            <div
              matTooltip="This dataset is not large enough to display seasonal data"
              [matTooltipDisabled]="!isEnoughData()"
            >
              <button
                mat-menu-item
                [matMenuTriggerFor]="seasMenu"
                [disabled]="isEnoughData()"
              >
                View Seasonal Data
              </button>
            </div>
          </mat-menu>
          <mat-menu #submenu="matMenu">
            <button mat-menu-item (click)="createSummaryStatistics()">
              Statistics Summary
            </button>

            <div
              matTooltip="This functionality is not available for the selected dataset"
              [matTooltipDisabled]="!review_btn"
            >
              <button
                [disabled]="review_btn"
                color="primary"
                mat-menu-item
                (click)="createLinearTrend()"
              >
                Linear Trend
              </button>
            </div>
            <div
              matTooltip="This functionality is not avaible for the selected dataset"
              [matTooltipDisabled]="!review_btn"
            >
              <button
                [disabled]="review_btn"
                color="primary"
                mat-menu-item
                (click)="createHistogram()"
              >
                Plot Histogram
              </button>
            </div>
          </mat-menu>
          <mat-menu #seasMenu="matMenu">
            <button mat-menu-item (click)="createSeasonalMenu()">
              Mean and Standard Deviation
            </button>
            <button mat-menu-item (click)="createClimaGraph()">
              Climatology Graph
            </button>
            <button mat-menu-item (click)="createSeasonalTSGraph()">
              Seasonal Time Series
            </button>
          </mat-menu>
          <div class="title_text" class="col s12" align="right">
            <button
              mat-icon-button
              (click)="this.closeTimeSeries()"
              class="closeBtn"
              matTooltip="Close Time Series Chart"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-dialog-content>
        <ngx-charts-line-chart
          *ngIf="DataAvailable()"
          [view]="view"
          [scheme]="colorScheme"
          [timeline]="timeline"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yValTitle()"
          [autoScale]="autoScale"
        >
          <ng-template #tooltipTemplate let-model="model">
            <div *ngFor="let data of getToolTipData(model | json)">
              <p>
                <u><b>Date:</b> {{ data.name }}</u>
              </p>
              <p>
                <b>{{ yValTitle() }}:</b> {{ data.value }}<br />
                <b>Layer: </b>
                {{ this._model.settings.levelCheck(data.series) }}
              </p>
            </div>
          </ng-template>
          <ng-template #seriesTooltipTemplate let-model="model">
            <p>
              <u><b>Date:</b> {{ getTTDate(model | json) }}</u>
            </p>
            <div *ngFor="let data of getSeriesToolTipData(model | json)">
              <p>
                <b>{{ yValTitle() }}:</b> {{ data.value }}<br />
                <b>Layer: </b>
                {{ this._model.settings.levelCheck(data.series) }}
              </p>
            </div>
          </ng-template>
        </ngx-charts-line-chart>
        <br />
      </mat-dialog-content>
    </div>
    <mat-dialog-actions>
      <mat-checkbox
        *ngFor="let level of GetLevels(); index as checkboxIndex"
        [checked]="isChecked(checkboxIndex)"
        [disabled]="lonerLevelCheck(checkboxIndex)"
        (change)="ToggleTimeseries(level)"
      >
        {{ this._model.settings.levelCheck(level.Name) }}
      </mat-checkbox>
    </mat-dialog-actions>
  </div>
</div>
