#TimeseriesPlot {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.title {
  margin-right: 10px;
}

#Menu_button {
  background-color: #ffffff;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}
@media print {
  .mat-dialog-content {
    zoom: 70%;
    max-width: fit-content;
    max-height: fit-content;
    margin: 0mm;
  }
  .mat-dialog-actions {
    zoom: 70%;
  }
  * {
    -webkit-print-color-adjust: exact !important;
  }

  #Menu_button,
  .mat-icon {
    display: none;
  }
  #Download_button,
  .closeBtn {
    display: none;
  }
  #TimeseriesPlot {
    width: auto;
  }
  @page {
    size: landscape;
  }
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  background-color: #ffffff;
}

.closeBtn:active,
:after {
  background-color: #ffffff;
}

::ng-deep .mat-checkbox-label,
::ng-deep #print-section .legend-label-text {
  color: black;
}
::ng-deep #print-section .legend-label-text {
  font-size: 18px !important;
  height: 17px !important;
}

::ng-deep #print-section .legend-title-text {
  font-size: 22px !important;
  height: 20px !important;
}

::ng-deep .mat-checkbox-label {
  padding-right: 5px;
}

::ng-deep #print-section .legend-labels {
  background-color: white;
}

.lineChart {
  min-height: 65vh;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

button:focus {
  background-color: transparent;
}

::ng-deep .mat-checkbox-label,
::ng-deep #print-section .legend-label-text {
  color: black;
}
::ng-deep .mat-checkbox-label {
  padding-right: 5px;
}

::ng-deep #print-section .legend-labels {
  background-color: white;
}

.lineChart {
  min-height: 65vh;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

button:focus {
  background-color: transparent;
}

#Menu_Title {
  display: flex;
}

#Menu {
  position: relative;
}

#Title {
  width: 78%;
  text-align: center;
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: white;
  color: black;
}

h5 {
  color: black;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: 100 !important;
}
