<div
  id="TimeseriesPlot"
  style="overflow-y: hidden; overflow-x: hidden; max-width: 100%; max-height: 100%"
>
  <h2 mat-dialog-title>Time Series</h2>
  <div style="position: absolute; top: 8%; right: 11%;">
    <button mat-icon-button (click)="closeTimeSeries()">
      <mat-icon matTooltip="Exit Time Series">close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <ngx-charts-line-chart
      *ngIf="DataAvailable()"
      [view]="view"
      [scheme]="colorScheme"
      [timeline]="timeline"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yValTitle()"
      [autoScale]="autoScale"
    >
    </ngx-charts-line-chart>
    <br />
    <button mat-raised-button (click)="createCsvFromTimeseriesData()">
      Download Data
    </button>
    <br />
    <p>Latitude: {{ this._model.settings.CurrGridBoxLat }}</p>
    <p>Longitude: {{ this._model.settings.CurrGridBoxLon }}</p>
    <h4 mat-dialog-title>
      <u>Pressure Layers</u>
    </h4>
    <mat-dialog-actions style="column-count: auto;">
      <mat-checkbox
        style="margin-right: 5px;"
        *ngFor="let level of GetLevels()"
        [checked]="IsSelected(level)"
        (click)="ToggleTimeseries(level)"
      >
        {{ level.Name }}
      </mat-checkbox>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
