<div id="TimeSeriesStats">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [useExistingCss]="true"
      printSectionId="printsection"
      ngxPrint
    >
      Save Graph
    </button>
  </mat-menu>
  <div class="title_text" class="col s12" align="top">
    <button
      mat-icon-button
      (click)="this.closeStatistics()"
      class="closeBtn"
      matTooltip="Close Statistics Summary Chart"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div id="printsection">
    <table mat-table [dataSource]="this.dataSource">
      <ng-container matColumnDef="label" sticky="true">
        <td mat-cell *matCellDef="let row">{{ row.label }}</td>
      </ng-container>

      <ng-container
        [matColumnDef]="'column' + i"
        *ngFor="let column of data; let i = index"
      >
        <td mat-cell *matCellDef="let row">{{ row["column" + i] }}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
