<div id="TimeseriesPlot">
  <h2 mat-dialog-title>Time Series</h2>
  <mat-dialog-content>
    <ngx-charts-line-chart
      *ngIf="DataAvailable()"
      [view]="view"
      [scheme]="colorScheme"
      [timeline]="timeline"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yValTitle()"
      [autoScale]="autoScale"
    >
    </ngx-charts-line-chart>
    <br />
    <button mat-raised-button (click)="createCsvFromTimeseriesData()">
      Download Data
    </button>
    <br>
    <p>Latitude: {{this._model.settings.CurrGridBoxLat}}</p>
    <p>Longitude: {{this._model.settings.CurrGridBoxLon}}</p>
    <br>
    <br>
    <button mat-raised-button (click)="closeTimeSeries()">
      Close Time Series
    </button>
  </mat-dialog-content>
  <h2 mat-dialog-title
      style="text-align: center"
  >
    <u>Pressure Layers</u>
  </h2>
  <mat-dialog-actions>
    <mat-checkbox
      *ngFor="let level of GetLevels()"
      [checked]="IsSelected(level)"
      (click)="ToggleTimeseries(level)"
    >
      {{ level.Name }}
    </mat-checkbox>
  </mat-dialog-actions>
</div>
