#Legend {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 6;
  border: none;
  font-size: 20pt;
  padding-left: 10px;
  margin: 3px;
}

#legendSlider {
  position: absolute;
  top: 60px;
  right: -10px;
  height: 300px;
  width: 50px;
  z-index: -5;
}

#TimeseriesBox {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 6;
  width: fit-content;
  height: fit-content;
}

#GlobeToolTip {
  position: absolute;
  z-index: 6;
  width: fit-content;
  height: fit-content;
}

#LevelsBox {
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 10;
}

#Legend text {
  fill: black;
}

path.domain {
  stroke: black;
}

.tick text {
  fill: black;
}

.axis text {
  font: 18px sans-serif;
  fill: black;
}

#Legend .axis text {
  font-size: 20px;
  fill: black;
  font-weight: bold;
}

.axis line,
.axis path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.TabHeading {
  text-align: center;
}

.mat-slider-horizontal {
  min-width: 200px !important;
  width: 200px;
}

.mat-ink-bar .mat-tab-label[_ngcontent-c3] {
  width: 52px !important;
}

.mat-tab-label,
.mat-tab-label-active {
  min-width: 0 !important;
  width: 60px !important;
  padding: 4px !important;
  margin: 4px !important;
}

#sideNavButton {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}

/*.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}*/

#ClimateTitle {
  position: absolute;
  top: 10px;
  left: 80px;
  border: none;
  text-align: center;
  font-size: 30px;
  z-index: 6;
  color: black;
  font-weight: bold;
  margin: 3px;
  padding-right: 2px;
  padding-left: 2px;
}

#ClimateTitle:hover,
#Legend:hover {
  border: 3px solid gray;
  border-radius: 7px;
  margin: 0;
}

#ClimateDate {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 20px;
  border: none;
  font-size: 20pt;
  color: black;
  z-index: 6;
}

html,
body,
material-app,
md-sidenav-container,
.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.InfoText {
  max-width: 250px;
  text-indent: 3ch;
  margin: 10px;
}

.MatButton1 {
  margin-right: 75px;
  margin-left: 75px;
  width: fit-content;
  margin-bottom: 10px;
}

.MatButton2 {
  margin-right: 50px;
  margin-left: 50px;
  width: fit-content;
  margin-bottom: 10px;
}

.MenTab {
  font-size: 14px;
}

.mat-slide-toggle-content,
.mat-radio-label-content {
  font-size: 14px;
  color: black;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.unhidden {
  visibility: visible;
}

.close {
  border: none;
}

button:focus {
  outline: none;
  border: none;
  margin: 0px;
}

.closebutton:focus {
  background: none;
}

.openLegendSlider:focus {
  background-color: #ffffff;
}

.custom-slider .ng5-slider .ng5-slider-pointer {
  background-color: black;
  height: 5px;
  top: auto;
  bottom: 0;
}

.custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

.custom-slider .ng5-slider .ng5-slider-selection {
  background-color: #2196f3;
}

mat-sidenav-content.mat-drawer-content {
  overflow: hidden;
}

.levelLabel,
.dateLabel {
  color: black;
  font-weight: bold;
  margin: 3px;
}

.levelLabel {
  padding-right: 3px;
}

.levelLabel:hover,
.dateLabel:hover {
  border: 3px solid gray;
  border-radius: 7px;
  margin-right: 0;
  margin-left: 0;
}

.levelLabel:active,
.dateLabel:active,
#ClimateTitle:active,
#Legend:active {
  opacity: 60%;
}

.legendRect {
  border: 3px solid gray;
  border-radius: 7px;
}

.buttonColor,
.buttonColor:focus,
.buttonColor:active,
:after {
  background-color: white;
}

.GlobeToolTipSlider {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: 2px;
}
