<div #ClimateSystem id="ClimateSystem" style="width:100%; overflow:hidden; z-index: 2; margin-bottom: 0px;" class="row">
  <div mat-fab id="close" class="hidden">
    <button id="closebutton" mat-icon-button style="position: absolute; left: 275px; top: 49px; z-index: 10; color: #FFFFFF" (click)="sidenav.toggle()" (click)="unhide(this,'close')">
      <mat-icon matTooltip="{{exitsidenav}}">close</mat-icon>
    </button>
  </div>
  <mat-sidenav-container #WebglCanvas style="display:block; position:absolute;  overflow:hidden"  id="WebglCanvas">

    <mat-sidenav id="Menu" #sidenav opened="false" style="background-color: white; overflow:auto; width: 275px; display: flex" (onmouseover)="inMenu = true;">

      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matTooltip='{{datasetTitle}}'>list</mat-icon>
          </ng-template>
          <div class="TabHeading">
            <h5>Select Datasets</h5>
          </div>
          <div class="MatButton1">
            <mat-list>
              <mat-list-item>
                <button mat-raised-button (click)="OpenDatasetDialog()">Climate Data</button>
              </mat-list-item>
            </mat-list>
          </div>
          <mat-list>
            <mat-divider></mat-divider>
          </mat-list>

          <div class="section" style="margin-left: 20px;">
            <h6>Air Pressure Layers</h6>
            <mat-radio-group class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let level of GetLevels()" [checked]="level.Selected" [value]="level.Name" (change)="ChangeLevel(level.Level_ID)">
                {{ level.Name }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matTooltip="{{timeTitle}}">event</mat-icon>
          </ng-template>
          <div class="TabHeading">
            <h5>Date</h5>
          </div>

          <div class="section" style="margin-left: 20px;">
            <mat-label>Year</mat-label>
            <mat-list>
              <mat-list-item>
                <mat-slider
                  [(ngModel)]="yearSlider"
                  [max]="GetMaxYear()"
                  [min]="GetMinYear()"
                  [step]="1"
                  [thumbLabel]="true"
                  [tickInterval]="tickInterval"
                  (change)="ChangeYear()">
                </mat-slider>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field>
                  <input matInput [(ngModel)]="yearSlider" (change)="ChangeYear()" type="number">
                </mat-form-field>
              </mat-list-item>
            </mat-list>
          </div>

          <mat-divider></mat-divider>

          <div class="section" style="margin-left: 20px; margin-top: 20px;">
            <mat-label>Month</mat-label>
            <mat-list>
              <mat-list-item>
                <mat-select placeholder="Month" [(value)]="currMonth" (selectionChange)="ChangeMonth()">
                  <mat-option *ngFor="let month of months" [value]="month.value">
                    {{ month.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-list-item>
            </mat-list>
          </div>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matTooltip="{{graphicTitle}}">brush</mat-icon>
          </ng-template>

          <div class="TabHeading">
            <h5>Graphical Settings</h5>
          </div>
          <div class="MatButton2">
            <mat-list>
              <mat-list-item>
                <button mat-raised-button (click)="OpenColorMapDialog()" matTooltip="{{colorMapDesc}}" matTooltipPosition="{{displayLoc}}"><mat-icon>palette</mat-icon> ColorMaps</button>
              </mat-list-item>
            </mat-list>
          </div>
          <mat-list >
            <mat-divider></mat-divider>

            <!-- Smoothed Gridboxes -->
            <mat-list-item style="color: black ">
              <mat-slide-toggle
                matTooltip="{{gridboxDesc}}"
                matTooltipPosition="{{displayLoc}}"
                class="example-margin"
                [color]="'primary'"
                [checked]="viewSettingsSelected.smoothGrid"
                (change)="changeSmoothGrid()">
                Smoothed Gridboxes
              </mat-slide-toggle>
            </mat-list-item>

            <!-- Pacific Centered -->
            <mat-list-item>
              <mat-slide-toggle
                class="example-margin"
                matTooltip="{{pacificDesc}}"
                matTooltipPosition="{{displayLoc}}"
                [color]="'primary'"
                [checked]="viewSettingsSelected.pacificCentered"
                (change)="changePacificCentered()">
                Pacific Centered
              </mat-slide-toggle>
            </mat-list-item>

            <!-- Minor Islands -->
            <mat-list-item>
              <mat-slide-toggle
                class="example-margin"
                matTooltip="{{islandDesc}}"
                matTooltipPosition="{{displayLoc}}"
                [color]="'primary'"
                [checked]="viewSettingsSelected.minorIslands"
                (change)="changeMinorIslandsLines()">
                Minor Islands
              </mat-slide-toggle>
            </mat-list-item>

            <!-- Lat/Lon Lines -->
            <mat-list-item>
              <mat-slide-toggle
                class="example-margin"
                matTooltip="{{latLonDesc}}"
                matTooltipPosition="{{displayLoc}}"
                [color]="'primary'"
                [checked]="viewSettingsSelected.latlonlines"
                (change)="changeLatlonlines()">
                Lat/Lon Lines
              </mat-slide-toggle>
            </mat-list-item>

            <!-- Geographical Lines -->
            <mat-list-item>
              <mat-slide-toggle
                class="example-margin"
                matTooltip="{{geoLineDes}}"
                matTooltipPosition="{{displayLoc}}"
                [color]="'primary'"
                [checked]="viewSettingsSelected.geolines"
                (change)="changeGeolines()">
                Geographical Lines
              </mat-slide-toggle>
            </mat-list-item>

            <!-- Time Zones -->
            <mat-list-item>
              <mat-slide-toggle
                class="example-margin"
                matTooltip="{{timeZoneDesc}}"
                matTooltipPosition="{{displayLoc}}"
                [color]="'primary'"
                [checked]="viewSettingsSelected.timezones"
                (change)="changeTimezones()">
                Time Zones
              </mat-slide-toggle>
            </mat-list-item>
          </mat-list>

          <mat-divider></mat-divider>

          <!-- Bump Mapping -->
          <div class="section" style="margin-left: 20px;" matTooltip="{{bumpDesc}}" matTooltipPosition="{{displayLoc}}">
            <h5><u>Bump Mapping</u></h5>
            <mat-radio-group class="radio-group" [(ngModel)]="viewSettingsSelected.bumpMapping">
              <mat-radio-button class="radio-button" *ngFor="let curr of viewSettingsOptions.bumpMapping" [value]="curr" (change)="changeBumpMapping(curr)">
                {{curr}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>

          <!-- Globe View -->
          <div class="section" style="margin-left: 20px;" matTooltip="{{viewDesc}}" matTooltipPosition="{{displayLoc}}">
            <h5><u>Globe View</u></h5>
            <mat-radio-group class="radio-group" [(ngModel)]="viewSettingsSelected.view">
              <mat-radio-button class="radio-button" *ngFor="let curr of viewSettingsOptions.view" [value]="curr" (change)="selectView(curr)">
                {{curr}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>

          <!-- Coasts -->
          <div class="section" style="margin-left: 20px;" matTooltip="{{coastDesc}}" matTooltipPosition="{{displayLoc}}">
            <h5><u>Coasts</u></h5>
            <mat-radio-group class="radio-group" [(ngModel)]="viewSettingsSelected.coasts">
              <mat-radio-button class="radio-button" *ngFor="let curr of viewSettingsOptions.coasts" [value]="curr" (change)="selectCoasts(curr)">
                {{curr}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>

          <!-- Rivers -->
          <div class="section" style="margin-left: 20px;" matTooltip="{{riverDesc}}" matTooltipPosition="{{displayLoc}}">
            <h5><u>Rivers</u></h5>
            <mat-radio-group class="radio-group" [(ngModel)]="viewSettingsSelected.rivers">
              <mat-radio-button class="radio-button" *ngFor="let curr of viewSettingsOptions.rivers" [value]="curr" (change)="selectRiver(curr)">
                {{curr}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>

          <!-- Lakes -->
          <div class="section" style="margin-left: 20px;" matTooltip="{{lakeDesc}}" matTooltipPosition="{{displayLoc}}">
            <h5><u>Lakes</u></h5>
            <mat-radio-group class="radio-group" [(ngModel)]="viewSettingsSelected.lakes">
              <mat-radio-button class="radio-button" *ngFor="let curr of viewSettingsOptions.lakes" [value]="curr" (change)="selectLakes(curr)">
                {{curr}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <br>



        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon  matTooltip="{{infoTitle}}">info</mat-icon>
          </ng-template>
          <div class="TabHeading">
            <h5>Information</h5>
          </div>
          <!-- Work in Progress

          <div class="InfoText">
            <p><Strong>Original File Location:</Strong> {{this._model.settings.Dataset.OriginalLocation}} </p>
            <p><Strong>Units:</Strong> {{this._model.settings.Dataset.Units}} </p>
            <p><Strong>Date Range:</Strong> {{this._model.settings.Dataset.StartDate}} to {{this._model.settings.Dataset.EndDate}} </p>
          </div>

          -->

          <div class="MatButton3">
            <mat-list>
              <mat-list-item>
                <button mat-raised-button (click)="createCsvFromGriddedData()">Download Data</button>
              </mat-list-item>
            </mat-list>
          </div>

          <mat-divider></mat-divider>

          <div class="TabHeading">
            <h5>4DVD Links</h5>
          </div>
          <div style="text-align: center">
            <a href="https://www.sdsu.edu/" target="_blank">San Diego State University</a>
            <br>
            <a href="https://c2s2.sdsu.edu/" target="_blank">SDSU Climate Science</a>
            <br>
          </div>

          <br>
          <mat-divider></mat-divider>

          <div class="TabHeading">
            <h5>Copyright</h5>
          </div>

          <p class="InfoText">Copyright &copy; 2013-2018, San Diego State University Research Foundation. Created by Dr. Julien Pierret, Dr. Samuel Shen and Climate Informatics Lab, San Diego State University, USA.</p>


        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>

    <button mat-button id="sideNavButton" style="" [disableRipple]="true" class="example-fab" (click)="sidenav.toggle()" (click)="unhide(this,'close')" matTooltip="Settings" matTooltipPosition="below">
      {{onClick('close')}}
      <mat-icon>menu</mat-icon>
    </button>

    <div id="Legend"></div>

    <div id="ClimateTitle"> {{ GetTitle() }} </div>

    <div id="ClimateDate"> {{ GetLayerDateLabel() }} </div>

    <div id="TimeseriesBox">
      <mat-card *ngIf="GridboxSelected()" >
        <mat-list>
          <mat-list-item>
            Value: {{ this.timeSeriesVal }}
          </mat-list-item>
          <mat-list-item>
            Lat: {{ this.GridBoxData[1] }}
          </mat-list-item>
          <mat-list-item>
            Lon: {{ this.GridBoxData[2] }}
          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button (click)="OpenTimeseriesDialog()">Time Series</button>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>

    <canvas #ClimateGl id="ClimateGl" (mouseleave)="inCanvas = false;" (mouseenter)='inCanvas = true;' style="position: absolute; z-index: 5; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;"><!-- width="500" height="500" || style="width: 100%; height: 100%" || [attr.width]='_width' [attr.height]='_height'-->

    </canvas>


  </mat-sidenav-container>
</div>
